html,
body {
  height: 100%;
}

.page-content {
    margin-top: 20px;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px dashed #cccccc;
}

#footer .credit {
  margin: 15px 0 0 0;
}

code {
  font-size: 100%;
}

/* End of sticky footer styling */

.required .control-label:after {
  content:" *";
  color:red;
}

span.glyphicon {
    padding-right: 3px;
}

.navbar-nav li a {
    line-height: 30px;
}

img.logo_img {
    margin-top: 7px;
    padding-top: 5px;
    width: 85px;
    height: 65px;
}

.navbar-brand {
    padding-top:9px;
    padding-bottom:9px;
}

.side-menu-box {
    margin-top: 50px;
}

.result-failed {
    color: #DF0101;
}

.result-passed {
    color: #088A08;
}

.success {
    color: #088A08;
}

.failure {
    color: #DF0101;
}

.inprogress {
    color: #003A00;
}


.lead_alert_scheduled {
    background-color: #CCFFCC;
    color: #580000;
}

.csemode_on {
    background-color: #FE9A2E;
    color: #000000;
}


.page-header {
    color: #3b73af;
}

.header-text {
    font-size: 1.0em;
    font-weight: normal;
}

.adjust_right {
    text-align: right;
    padding-right: 0;
    padding-bottom: 5px;
    margin-right: 15px;
}


.form-multiline .form-group {
    margin-bottom: 15px;
    margin-right: 30px;
}

.form-multiline label,
.form-multiline .form-control {
    margin-right: 15px;
}

.dialog_busy{
    background-image: url("images/busy_big.gif"); 
}

pre.description {
    background: transparent;
    border: 1;
}

.nav .breadcrumb {
    margin: 0 7px;
}

@media (min-width: 768px) {
    .nav .breadcrumb {
        float: left;
        margin: 7px 10px;
    }
}

div.matnasd_address {
    margin-right: 20px;
}

.cards {
    margin-top: 30px;
    padding-bottom: 20px;
}

