/*!
 * Start Bootstrap - Business Casual (http://startbootstrap.com/template-overviews/business-casual)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-business-casual/blob/master/LICENSE)
 */

body {

  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

h1, h2, h3, h4, h5, h6, .text-heading {
  font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4rem;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.danceworkout .navbar-brand {
    display: flex;
    align-items: center;
}

.danceworkout .navbar-brand>img {
  padding: 7px 14px;
}

.tagline-upper {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}

.tagline-lower {
  font-size: 1.2rem;
  line-height: 1;
}

.text-expanded {
  letter-spacing: 2px;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.text-lg {
    font-size: 1.25rem;
}

.text-xlg {
    font-size: 2.25rem;
}

.text-xxlg {
    font-size: 3.25rem;
}

.bg-faded {
    background-color: rgba(255, 255, 255, 0.9);
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

hr.divider {
    border-color: #292b2c;
    max-width: 250px;
}

.map-container iframe {
    pointer-events: none;
}

.map-container iframe.clicked {
    pointer-events: auto;
}

.card img {
    width: auto;
    height: 350px;
    padding-bottom: 20px;
}

div.card {
    text-align: center;
}


.carousel-caption{
    background: rgba(0,0,0,0.5);
}

p {
    font-size: large;
}

span.large {
    font-size: large;
}

div#menu-container {
    margin-top: 10px;
}

span.address_key {
    color:  #000033;
}
