<div id="carousel-danceworkout" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-danceworkout" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-danceworkout" data-slide-to="1"></li>
        <li data-target="#carousel-danceworkout" data-slide-to="2"></li>
        <li data-target="#carousel-danceworkout" data-slide-to="3"></li>
        <li data-target="#carousel-danceworkout" data-slide-to="4"></li>
        <li data-target="#carousel-danceworkout" data-slide-to="5"></li>
        <li data-target="#carousel-danceworkout" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        <div class="item active">
            <img src="/static/images/m1.jpg" alt="Marina1">
            <div class="carousel-caption">
                <h3>לרקוד לבריאות</h3>
            </div>
        </div>

        <div class="item">
            <img src="/static/images/m3.jpg" alt="Marina3">
            <div class="carousel-caption">
                <h3>לרקוד ליופי</h3>
            </div>
        </div>

        <div class="item">
            <img src="/static/images/m4.jpg" alt="Marina4">
            <div class="carousel-caption">
                <h3>לרקוד לשנים ארוכות</h3>
            </div>
        </div>

        <div class="item">
            <img src="/static/images/m5.jpg" alt="Marina5">
            <div class="carousel-caption">
                <h3>לרקוד אל האושר</h3>
            </div>
        </div>

        <div class="item">
            <img src="/static/images/m6.jpg" alt="Marina6">
            <div class="carousel-caption">
                <h3>לרקוד בשמחה</h3>
            </div>
        </div>

        <div class="item">
            <img src="/static/images/m7.jpg" alt="Marina7">
            <div class="carousel-caption">
                <h3>לרקוד ליופי</h3>
            </div>
        </div>

        <div class="item">
            <img src="/static/images/m8.jpg" alt="Marina8">
            <div class="carousel-caption">
                <h3>לרקוד אל האושר</h3>
            </div>
        </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-danceworkout" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#carousel-danceworkout" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
