{% extends "layout.html" %}

{% block main_content %}

    <div class="page-content">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title pull-right">
                    <h2><span class="address_key">מתנ"ס ד</span></h2>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="pull-right">
                    <img src="/static/images/matnasd.jpg"></img>
                </div>
                <div class="pull-right matnasd_address">
                    <p class="text-xxlg"><span class="address_key">כתובת: </span><i>השייטים 16 אשדוד</i></p>
                    <p class="text-xxlg pull-right"><span class="address_key">טל':</span><i> 08-8552721</i></span>
                </div>
            </div>
        </div>

        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="panel-title pull-right">
                    <h2><span class="address_key">מרינה</span></h2>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-body">

                <div class="pull-right">
                    <p class="text-xxlg"><span class="address_key">טל': </span><i>054-7341077</i></p>
                </div>
                <div class="clearfix"></div>
                <div class="pull-right">
                    <p class="text-xxlg">
                        <span class="text-xxlg address_key">דואר אלקטרוני:</span>
                        <a href="mailto:#"><i>ziv.marina17@gmail.com</i></a>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block docready %}
    jQuery("li#nav-contact").addClass("active");
{% endblock %} 
