{% extends "layout.html" %}

{% block main_content %}

    <div class="page-content">

        <div class="well well-lg">
            <h1><span class="address_key">בכל שיעור ישולבו:</span></h1>
            <h2>חימום מקיף ועמוק</h2>
            <p>
                <em>אנו רוצות לרקוד עד 120 לפחות, נכון?</em>
            </p>

            <p>
                לצורך השגת המטרה זו יש חשיבות מכרעת לשלב החימום בכל שיעור.
                במהלך החימום נפעיל כל מפרק וכל שריר ונכין אותם בהדרגתיות לעבודה המאומצת בשלב הבא של השיעור,
                השלב האירובי.
            </p>

            <p>
                כמו כן נשלב תרגילים המשפרים את היציבה, את שיווי המשקל שלנו ואת הקואורדינציה של תנועות ריקוד מורכבות.
            </p>


            <h2>חלק אירובי</h2>
                <p><em>חלק אירובי הוא החלק המרכזי של השיעור. שריפת קלוריות, אמרנו? זה כאן!</em></p>
                <div>
                <p>
                    בחלק זה נרקוד כוריאוגרפיות, בהן נכיר עם הזמן כל תנועה ותנועה, בדיוק המרבי.
                    לצורך תרגול התנועות שנלמדו ושולבו בכוריאוגרפיה ולצורך לימוד תנועות חדשות נעשה הרקדה על רקע שירים המתחלפים מדי שיעור.
                    השירים אומנם מתחלפים אך כולם מתאימים לסגנון השיעור ולאופי התנועות.
                </p>
                </div>
                <p>נרקוד בשורות, במעגלים ואפילו ריקוד חופשי ואישי!</p>

             <h2>תרגילי חיטוב ומתיחות</h2>
             <p><em>פיתוח מערכת השרירים תורמת למראה מחוטב יותר של הגוף ולריקוד יפה ומדויק יותר.</em></p>
             
             <p>
             לכן נקדיש שיר אחד או שתיים לתרגילי כוח.
            אחד ממרכיבים החשובים ביותר של כושר גופני, התורם להארכת חיים ולאיכותם הוא גמישות מפרקים ושרירים.
            זאת הסיבה שכל שיעור אנו נקנח בשיר מרגיע, אחד לפחות, אשר ילווה אותנו בתרגילי המתיחות וההרגעה.
            </p>

        </div>

        <div class="well well-lg">
            <h1><span class="address_key">סגנונות ריקוד</span></h1>
                <p>סגנון לטיני (ימי א): סלסה, צ'ה-צ'ה, בצ'טה ודג'ייב</p>
                <p>סגנון קלאסי (ימי ג): טנגו, ואלס, מודרני ואירובי</p>
                <p>סגנון מזרחי (ימי ה): ריקודי בטן בסגנון באלדי, טורקי ועם שילוב צעיפים.</p>
        </div>

        <div class="well well-lg">
            <h1><span class="address_key">מה להביא לשיעור?</span></h1>
            <p>יש לבוא בלבוש ספורטיבי ונוח.</p>
            <p>עדיף להביא נעלי ריקוד, אך אפשר להתחיל עם נעלי ספורט רגילים.</p>
            <p>יש להצטייד במגבת (אשר נניח על המזרן בשלב החיטוב והמתיחות של השיעור)</p>
            <p>מומלץ להביא בקבוק מים.</p>
            <p>בחורף – לבוש חם ליציאה מהאימון.</p>
        </div>

        <div class="well well-lg well-info">
            <h1><span class="address_key">משך השיעור – 55 דקות</span></h1>
            <p>לפחות 50 דקות של שיעור יעברו בתנועה לצלילי המוזיקה הסוחפת ללא הפסקה.</p>
            <p>כ-5 דקות של כל שיעור יוקדשו להסבר על תיאוריית הריקוד, ללימוד תנועה מסוימת או להסבר כללי על הכושר הגופני.</p>
            <p>זאת כדי לאפשר למתאמנות לרקוד עם מודעות ולהבין טוב יותר את הגוף שלנו.</p>
        </div>

    </div>

{% endblock %}

{% block docready %}
    jQuery("li#nav-details").addClass("active");
{% endblock %} 
