 <div class="page-content">

    <div class="row">
        <div class="col-sm-12 text-center">
            <h1><span class="address_key">להתחיל שנה חדשה בתחביב חדש!</span></h1>
            <h2><i>כי גם לאמא מגיע חוג...</i></h2>
        </div>

        <div class="col-sm-12 text-center cards">
            <p class="text-xlg">
               רקדת בילדות? מעולה! אצלינו תמצאי מסגרת לשימור ושיפור היכולות.
            </p>
            <p class="text-xlg">
                לא רקדת אף פעם? אל דאגה, אפשר להתחיל עכשיו!
            </p>
            <p class="text-xlg">
                אימונים בקבוצות קטנות עם יחס אישי.
            </p>
        </div>
    </div>

    <div class="row cards">

        <div class="col-xs-4 col-md-4">

            <div class="card">
                <img class="card-img-top" src="/static/images/belly.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title text-xlg"><span class="address_key">ריקוד מזרחי</span></h4>
                    <p class="card-text text-xlg">ימי ה</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 my-4">
            <div class="card">
                <img class="card-img-top" src="/static/images/classic.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title text-xlg"><span class="address_key">ריקוד קלאסי</span></h4>
                    <p class="card-text text-xlg">ימי ג</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 my-4">
            <div class="card">
                <img class="card-img-top" src="/static/images/latin.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title text-xlg"><span class="address_key">ריקוד לטיני</span></h4>
                    <p class="card-text text-xlg">ימי א</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row cards">
        <div class="col-xs-12 col-md-12 text-center">
            <p>
                <span class="address_key text-xxlg">כל השיעורים מתקיימים במתנ"ס ד אשדוד בין השעות 20:00 - 21:00</span>
            </p>
        </div>
    </div>
    <!-- /.row -->

    <div class="row" style="margin-bottom: 20px">

        <div class="col-xs-12 col-md-12 text-center">
            <div class="text-xxlg">
                <span style="display:inline-block">
                    <a href="{{ url_for('main.contact') }}">
                        </span><span class="address_key"> ליצירת קשר</span><span class="glyphicon glyphicon-earphone">
                    </a>
                </span>

                <span style="display:inline-block; width: 40px;"></span>

                <span style="display:inline-block">
                    <a href="{{ url_for('main.details') }}">
                        </span><span class="address_key"> לפרטים</span><span class="glyphicon glyphicon-pencil">
                    </a>
                </span>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.content -->
